In [1]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
#data
df = pd.read_csv("films.csv")
df.head()
df

   hero heroin  rating
0   He1   She1       8
1   He1   She1       4
2   He1   She1       1
3   He1   She2       3
4   He1   She2       4
5   He1   She2       8
6   He2   She1       6
7   He2   She1       6
8   He2   She1       5
9   He2   She2       4
10  He2   She2       1
11  He2   She2      10
12  He3   She1       5
13  He3   She1       9
14  He3   She1       8
15  He3   She2       8
16  He3   She2       5
17  He3   She2       8

In [3]:
df.shape

(18, 3)

In [5]:
#perform two-way ANOVA
model = ols('rating ~ C(hero) + C(heroin) + C(hero):C(heroin)', data=df).fit()
aov_table = sm.stats.anova_lm(model, typ=2)
print(aov_table)

                      sum_sq    df         F    PR(>F)
C(hero)            20.111111   2.0  1.256944  0.319437
C(heroin)           0.055556   1.0  0.006944  0.934960
C(hero):C(heroin)   1.444444   2.0  0.090278  0.914292
Residual           96.000000  12.0       NaN       NaN

In [8]:
# or simply

In [5]:
#perform two-way ANOVA
model = ols('rating ~ hero+heroin+hero:heroin', data=df).fit()
aov_table = sm.stats.anova_lm(model)
print(aov_table)

               df     sum_sq    mean_sq         F    PR(>F)
hero          2.0  20.111111  10.055556  1.256944  0.319437
heroin        1.0   0.055556   0.055556  0.006944  0.934960
hero:heroin   2.0   1.444444   0.722222  0.090278  0.914292
Residual     12.0  96.000000   8.000000       NaN       NaN

In [6]:
#perform two-way ANOVA without interaction
model = ols('rating ~ hero+heroin', data=df).fit()
aov_table = sm.stats.anova_lm(model)
print(aov_table)

            df     sum_sq    mean_sq         F    PR(>F)
hero       2.0  20.111111  10.055556  1.444698  0.268904
heroin     1.0   0.055556   0.055556  0.007982  0.930077
Residual  14.0  97.444444   6.960317       NaN       NaN