**Instructions:**

duration: 2 hours

marks: 30

There are five questions below. Each require a portion answered using python in this notebook and a written answer using pen paper.

Use comments to make your code readable and interpret the results formally. This is NOT a python or ML exam.

Written answers: Briefly answer the following, if applicable, for each question
- Justify the selected test
- State any assumptions for the test
- State and justify the choice of the rejection zone
- State the decision, interpret

In [1]:
# code snippets that may be useful

!pip install xlrd
# df = pd.read_excel('sample.xlsx', sheet_name='sheet2')

# stats.norm.cdf(zscore)
# stats.t.cdf(tscore, df=df)

# stats.norm.ppf(probability)
# stats.t.ppf(probability, df=df)

# chi_square_stat, p_value = stats.chisquare(observed_values, f_exp=expected_values)

# chi_sq_Stat, p_value, deg_freedom, exp_freq = stats.chi2_contingency(quality_array, correction=False)


# f_test, p_val = stats.f_oneway(sectionA, sectionB, sectionC)

#mod = ols('marks ~ section', data = marks_df).fit()
#aov_table = sm.stats.anova_lm(mod, typ=2)
#print(aov_table)

Requirement already satisfied: xlrd in c:\users\shimanshu\anaconda3\lib\site-packages (2.0.1)

In [2]:
# import libraries
import numpy as np
import pandas as pd
from scipy import stats

# ANOVA
import statsmodels.api         as     sm
from   statsmodels.formula.api import ols

[Q1] A cable internet service provider ran two campaigns. In one they offered one month free if the subscriber paid for 6 months. In another they offered two months free if the subscriber paid for 12 months. Data relating to both campaigns are in the data workbook sheets q1 and q11.
Using formal methods, test if they were both equally effective in winning customers.

here we can go for chi-sqaure independence test 
Ho: result is indepndent of pitch
H1: reult is dependent on pitch

In [4]:
p1 = pd.read_excel('midterm_data.xlsx', sheet_name='q1')
p2 = pd.read_excel('midterm_data.xlsx', sheet_name='q11')

In [12]:
p=pd.concat([p2,p1],axis=0)
len(p)

117

In [9]:
pd.crosstab(p.pitch,p.result)

result                                AcceptedOffer   N
pitch
pay for 12 months, get 2 months free             12  44
pay for 6 months, get 1 month free               19  42

In [18]:
p1_observed=[12,44] #observed frequency of different results in pitch 1
p2_observed=[19,42] #observed frequency of different results in pitch 2
val_obs=p1_observed+p2_observed

In [19]:
p1_expected=[(12+44)*(12+19)/117,(12+44)*(44+42)/117] # expected frequency of different results in pitch 1
p2_expected=[(19+42)*(12+19)/117,(19+42)*(44+42)/117] #expected frequency of different results in pitch 2
val_exp=p1_expected+p2_expected

In [22]:
val_exp,val_obs

([14.837606837606838,
  41.162393162393165,
  16.162393162393162,
  44.837606837606835],
 [12, 44, 19, 42])

In [23]:
sum=0
for i in range(len(val_obs)):
    a=((val_obs[i]-val_exp[i])**2/val_exp[i])
    sum+=a
chi2_stat=sum # test stats=sum((obsval-expval)^2/expval)

In [24]:
chi2_stat

1.4160677171634823

In [25]:
stats.chi2.isf(0.05,df=1) #df=(r-1)(c-1)

3.8414588206941285

As chi2_stat< chi_2 critical we cannot reject our null that means our null hypothesis result is indepndent of pitch is true in this case

[Q2] The agents of the cable internet company are required to make phone calls to customers and offer them deals and win subscriptions. A metric in this process is the number of calls made per day. Initially the agents were paid fixed salary without any incentives for winning new customers. The management recently changed this and offered incentives to the agents hoping they will make more calls per day. This information is available in sheet q2. The columns are Calls_Salary and Calls_Incentive for each agent.

You are required to test if the change in payment to include incentives for winning customers has increased the number of calls made per day.

here in this case we go 2 population paired t-test
h0: Difference in calls are insignificant
h1: difference is calls are signifacantly different from zreo

In [115]:
s1 = pd.read_excel('midterm_data.xlsx', sheet_name='q2')

In [116]:
s1['diff']=-s1.Calls_Salary+s1.Calls_Incentive

In [117]:
len(s1)

59

In [118]:
SE=np.std(s1['diff'],ddof=1)/len(s1)**0.5

In [119]:
t_stat=np.mean(s1['diff'])/SE
t_stat

10.252069705503347

In [120]:
t_critical_l = stats.t.ppf(0.05,df=58)
t_critical_u = stats.t.isf(0.05,df=58)
t_critical_l,z_critical_u

(-1.6715527621536728, 1.6448536269514729)

As our t_stat is greater than upper t_critical value so we can say that we can reject null hypothesis that is Difference in calls are insignificant
this means by providing incentives company is able to increase the calls

[Q3] University requires grades to be distributed according to their norms:
A (5%), B(30%), C(50%), D(10%), F(5%) 
For a recent exam, the grades were as given in sheet q3.

Test if this follows the norms.

here we will go chi_sqaure goodness of fit test to check if our observed values fits the expected probablity distribution
h0: all the grades recieves follows expected probability distribution
h1: they donot follow expected prob distribution
using right tail chi_sqr test for conformation

In [53]:
s2 = pd.read_excel('midterm_data.xlsx', sheet_name='q3')

In [55]:
s2.head()

   rollnumber       mode grade
0         1.0  Classroom     D
1         2.0  Classroom     F
2         3.0  Classroom     C
3         4.0  Classroom     C
4         5.0  Classroom     A

In [61]:
len(s2)

35

In [60]:
s3=s2[['rollnumber','grade']].groupby(['grade']).count()
s3

       rollnumber
grade
A               6
B               5
C               9
D               8
F               7

In [67]:
grade_exp=[0.05*35,0.3*35,0.5*35,0.1*35,0.05*35] #expected value exp prob*total students
grade_obs=[6,5,9,8,7]

In [69]:
sum1=0
for i in range(len(grade_obs)):
    a1=((grade_obs[i]-grade_exp[i])**2/grade_exp[i])
    sum1+=a1
chi2_stat1=sum1

In [70]:
chi2_stat1

38.86666666666667

In [77]:
stats.chi2.isf(0.05,df=4) #chi2 critical at alpha=0.05,df=n-1

9.487729036781158

As chi_sqr stat is more than chi_sqr critical which is a right tail test so reject or null hypothesis that is all the grades recieves follows expected probability distribution.
therefore the grades recieved by students are not following expected prob distribution

[Q4] There are keen discussions about online vs classroom in various segments of the society. Using the data in sheet q3, test if performance of students is impacted by the mode of engagement.

In [78]:
s4 = pd.read_excel('midterm_data.xlsx', sheet_name='q3')

In [81]:
s4[['rollnumber','grade','mode']].groupby(['grade','mode']).count()
#calculated frequencies according to different classes

                 rollnumber
grade mode
A     Classroom           6
B     Classroom           3
      Online              2
C     Classroom           5
      Online              4
D     Classroom           5
      Online              3
F     Classroom           6
      Online              1

here we will be choosing chi square test for inpendence for checking if grade are dependent on mode of education
right tail chi_square test
H0: grades are independent of mode of eduaction
H1: grades are not independent of mode of education

In [83]:
classroom_obs=np.array([6,3,5,5,6])
online_obs=np.array([0,2,4,3,1])

In [85]:
classroom_exp=classroom_obs*np.sum(classroom_obs)/35
online_exp=online_obs*np.sum(online_obs)/35

In [86]:
exp_val=np.append(classroom_exp,online_exp)
obs_val=np.append(classroom_obs,online_obs)

In [87]:
sum2=0
for i in range(len(obs_val)):
    a2=((obs_val[i]-exp_val[i])**2/exp_val[i])
    sum2+=a2
chi2_stat2=sum2

C:\Users\SHIMAN~1\AppData\Local\Temp/ipykernel_256/198134222.py:3: RuntimeWarning: invalid value encountered in double_scalars
  a2=((obs_val[i]-exp_val[i])**2/exp_val[i])

In [88]:
chi2_stat2 #as we have one zero value so calculating this stat was not possible we can remove grade a do again same test

nan

In [89]:
classroom_obs=np.array([3,5,5,6])
online_obs=np.array([2,4,3,1])
classroom_exp=classroom_obs*np.sum(classroom_obs)/29
online_exp=online_obs*np.sum(online_obs)/29
exp_val=np.append(classroom_exp,online_exp)
obs_val=np.append(classroom_obs,online_obs)
sum3=0
for i in range(len(obs_val)):
    a3=((obs_val[i]-exp_val[i])**2/exp_val[i])
    sum3+=a3
chi2_stat3=sum3 #after removing the first values for grade A as it is zero we calculated chi_sq stat

In [90]:
chi2_stat3

15.89655172413793

In [91]:
stats.chi2.isf(0.05,df=3)

7.814727903251178

As our chi_sq_stat > chi_sq_critical we reject our null hypothesis 
therfore we conclude that mode of education has an impact on grades of students

[Q5] The university conducted a course in three centeres and assigned the same question paper. The VC  wants to compare performance of the three batches. Refer to sheet q5 to answer this query.

Here we have 3 batches and we want to compare thier means 
we will be using annova to compare their means
h0: average marks of all these are equal
h1: average marks of all abtches are not equal(any one can also be different from other)
using f test which is right tail test

In [106]:
s5 = pd.read_excel('midterm_data.xlsx', sheet_name='q5')
s5

    batch  rollnum  marks
0     1.0      1.0   84.0
1     1.0      2.0   69.0
2     1.0      3.0   74.0
3     1.0      4.0   89.0
4     1.0      5.0   92.0
..    ...      ...    ...
88    3.0     26.0   84.0
89    3.0     27.0   76.0
90    3.0     28.0   55.0
91    3.0     29.0   61.0
92    3.0     30.0   67.0

[93 rows x 3 columns]

In [101]:
batch1_marks=np.array(s5.marks[s5.batch==1])
batch2_marks=np.array(s5.marks[s5.batch==2])
batch3_marks=np.array(s5.marks[s5.batch==3])

In [102]:
# normality tests
stats.shapiro(batch1_marks)
stats.shapiro(batch2_marks)
stats.shapiro(batch3_marks)

ShapiroResult(statistic=0.9750015139579773, pvalue=0.6827733516693115)

In [109]:
f_test, p_val = stats.f_oneway(batch1_marks, batch2_marks, batch3_marks)

In [110]:
f_test

0.6534623826271031

In [111]:
p_val

0.5226918265862517

as p_value>alpha we cannot reject our h0 that is average marks of all these are equal
therefore average marks of all the batches are similar.